* {
   padding: 0;
   margin: 0;
   font-family: 'Lato', sans-serif;
}

a {
   text-decoration: none;
}

.header {
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px); 
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 75px;
   background-color: #222;
}

.logo{
   width: 44px;
}

.search {
   width: 26px;
   margin-left: 0px;
}

.header_left {
   width: 111px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header_right {
   width: 159px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.content_top {
   background-color: #F1E4E6;
   display: flex;
   justify-content: flex-start;
   height: 90vh;
}

.top_inscription {
   display: grid;
   grid-template-columns: 28px 1fr;
   grid-template-rows: 1fr 1fr;
   height: 50px;
   justify-items: start;
   margin-top: 290px;
   margin-left: 63px;
}

.shape_line {
   height: 96px;
   width: 12px;
   grid-row: span 2;
   background-color: #F16D7F;
}

.н1_top {
   color: #222;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
}

.н2_top {
   color: #222;
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.pink {
   color: #F16D7F;
}

.content_categories {
   margin-top: 65px;
   margin-bottom: 96px;
   display: grid; 
   gap: 30px;
   grid-template-columns: repeat(3, 360px);
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px); 
}

.item_categories {
   background: rgba(33, 22, 22, 0.70);
   height: 260px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.item_accesories{
   grid-column-start: span 3;
   height: 180px;
}

.h4_categories {
   color: #FFF;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.h3_categories {
   color: #F16D7F;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.content_products {
   margin-bottom: 96px;
   display: grid; 
   gap: 30px;
   grid-template-columns: repeat(3, 360px);
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px);
   margin-bottom: 60px; 
}

.products_header {
   grid-column-start: span 3;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.item_products {
   height: 580px;
   background-color: #F8F8F8;
}

.block_item_products {
   padding: 24px 16px;
   height: 112px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.h3_center_item_products {
   color: #222;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 6px;
   text-align: center;
}

.p_center_item_products {
   color: #9F9F9F;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 48px;
   text-align: center;
}

.h5_block {
   color: #000;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.p_block {
   color: #5D5D5D;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.prace_block {
   color: #F16D7F;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.button_content_products {
   color: #F26376;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   border-color: #F26376;
   border-width: 1px;
   height: 48px;
   margin-left: calc(50% - 106px);
   margin-right: calc(50% - 106px); 
   grid-column-start: span 3;
   background-color: #FFF;
   margin-top: 18px;
}

@media (max-width: 1024px) {
   .header {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
   }
   .content_top {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
      height: 368px;
   }

   .top_inscription {
      margin-top: 138px;
      margin-left: 39px;
   }

   .img_line {
      height: 92px;
   }
   
   .н1_top {
      font-size: 44px;
   }
   
   .н2_top {
      font-size: 24px;
   }

   .man_in_a_jacket {
      height: 368px;
   }

   .content_categories {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
      grid-template-columns: repeat(3, 232px);
      gap: 20px;
      margin-top: 65px;
      margin-bottom: 110px;
   }

   .item_categories {
      height: 168px;
   }

   .item_accesories{
      height: 116px;
   }

   .content_products {
      display: grid;
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
      gap: 14px;
      grid-template-columns: repeat(2, 360px);
      margin-bottom: 70px; 
   }

   .products_header {
      grid-column-start: span 2;
   }
   .button_content_products {
      grid-column-start: span 2;
      margin-top: 32px;
   }

}

/*=====================================================================*/

@media (max-width: 767px) and (min-width: 320px) {
   .header {
      padding-left: 16px;
      padding-right: 16px; 
      height: 74px;
   }

   .button_chel, .button_korzina, .man_in_a_jacket {
      position: absolute;
      z-index: -1;
      left: -99999px;
      visibility: hidden;
      opacity: 0;
   }

   .header_right {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   .content_top {
      height: 363px;
   }
   
   .top_inscription {
      display: grid;
      grid-template-columns: 27px 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: start;
   }
   
   .shape_line {
      grid-row: span 2;
      height: 61px;
   }
   
   .н1_top {
      font-size: 38px;
      line-height: 110%;
   }
   
   .н2_top {
      font-size: 20px;
      line-height: 100%;
   }

/*=================================================================*/

   .content_categories {
      padding-left: 16px;
      padding-right: 16px; 
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-top: 64px;
      margin-bottom: 64px;
   }

   .item_categories {
      height: 248px;
   }

   .item_accesories{
      height: 111px;
   }

/*=================================================================*/

   .content_products {
      padding-left: 8px;
      padding-right: 8px; 
      gap: 16px;
      margin-bottom: 85px; 
      display: flex;
      flex-direction: column;
      max-width: 359px;
   }

   .look {
      overflow: hidden;
   }

   .block_item_products {
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .button_content_products {
      margin-top: 40px;
   }
}