* {
   padding: 0;
   margin: 0;
}

.header {
   margin-top: 40px;
   margin-bottom: 620px;
}

.menu {
   padding-top: 15px;
   padding-bottom: 12px;
}

.top_content {
   margin-top: 164px;
   margin-bottom: 103px;
}